.btn {
  background-color: #ffd700;
  color: black;
  padding: 100px 220px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.btn .text {
  font-size: 100px;
  display: inline-block;
  transition: transform 0.3s;
}

.btn .circle {
  width: 120px;
  height: 110px;
  margin-left: 90px;
  background-color: pink;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.btn .circle::before {
  content: "→";
  color: black;
  font-size: 110px;
}

.btn:hover {
  background-color: #f8bbd0;
  animation-duration: 1s;
}

.btn:hover .text {
  transform: translateX(10px);
}

.btn:hover .circle {
  transform: translateX(10px);
  animation: ex 1s;
  animation-duration: 1s;
}
